.sidebar {
    position: sticky;
    top: 110px;
    border-radius: 8px;
    align-self: flex-start;
    padding: var(--default-padding);
    height: calc(100vh - (var(--header-height) + var(--default-padding) * 2));
    &__title {
        margin-bottom: 20px;
        font-weight: 600;
    }
    &__subtitle {
        margin-bottom: 4px;
        font-family: var(--sf);
        font-size: 1.4rem;
        line-height: 1.43;
    }
    &__filter {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__item {
        padding: 12px;
        font-family: var(--sf);
        font-size: 1.4rem;
        line-height: 1.43;
        cursor: pointer;
    }
    &__droplist {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        border: 1px solid var(--border-default);
        border-radius: 8px;
        display: block;
        padding: 8px;
        width: 100%;
        z-index: 1;
        background-color: var(--light-theme-color);
    }
    &__arrow {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%) rotate(0deg);
        &.active {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}