.sidebar {
    position: sticky;
    top: 110px;
    border-radius: 8px;
    align-self: flex-start;
    padding: var(--default-padding);
    height: calc(100vh - (var(--header-height) + var(--default-padding) * 2));
    &__title {
        margin-bottom: 20px;
        font-weight: 600;
    }
}