.footer {
    display: flex;
    align-items: center;
    padding: var(--default-padding) 0;
    height: var(--footer-height);
}

.navigation {
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        font-size: 2rem;
        line-height: 1.15;
    }
}